@import url( patch-iewin.css );
#container {
	POSITION: relative; MIN-WIDTH: 760px; PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; WIDTH: 100%; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
#content-related .module H2 {
	BACKGROUND: url(../img/admin/nav-bg.gif) #eee repeat-x left bottom; COLOR: #666
}
#hLoginInfo {
	POSITION: absolute; TEXT-ALIGN: right; PADDING-BOTTOM: 5px; PADDING-LEFT: 5px; WIDTH: 99%; PADDING-RIGHT: 5px; FONT-SIZE: 11pt; TOP: 5px; PADDING-TOP: 5px; LEFT: 0px
}
#hPageHeader {
	PADDING-BOTTOM: 5px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; BACKGROUND-REPEAT: repeat-x; HEIGHT: 60px; COLOR: #fff; FONT-SIZE: 25px; PADDING-TOP: 5px
}
#hSysName {
	POSITION: absolute; FLOAT: left; MARGIN-LEFT: 20px; FONT-SIZE: 12pt; FONT-WEIGHT: 700; PADDING-TOP: 10px; LEFT: 0px
}
#hUnitName {
	FLOAT: left; MARGIN-LEFT: 5px
}
#header {
	PADDING-BOTTOM: 1px; WIDTH: 100%; BACKGROUND: url(../img/headerbg.png) #417690 center bottom; COLOR: #ffc; OVERFLOW: hidden; _background: #417690 url(../img/headerbg6.png) repeat scroll center bottom
}
.addlink {
	PADDING-LEFT: 12px; BACKGROUND: url(../img/icon_addlink.gif) no-repeat 0px 0.2em
}
.align-left {
	TEXT-ALIGN: left
}
.align-right {
	TEXT-ALIGN: right
}
.branding H1 {
	PADDING-BOTTOM: 0px; MARGIN: 8px 0px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; COLOR: #f4f379; FONT-SIZE: 18px; FONT-WEIGHT: 400; PADDING-TOP: 0px
}
#branding H1 {
	PADDING-BOTTOM: 0px; MARGIN: 8px 0px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; COLOR: #f4f379; FONT-SIZE: 18px; FONT-WEIGHT: 400; PADDING-TOP: 0px
}
.branding H2 {
	PADDING-BOTTOM: 0px; MARGIN: -8px 0px 8px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; COLOR: #ffc; FONT-SIZE: 14px; FONT-WEIGHT: 400; PADDING-TOP: 0px
}
#branding H2 {
	PADDING-BOTTOM: 0px; MARGIN: -8px 0px 8px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; COLOR: #ffc; FONT-SIZE: 14px; FONT-WEIGHT: 400; PADDING-TOP: 0px
}
.changelink {
	PADDING-LEFT: 12px; BACKGROUND: url(../img/icon_changelink.gif) no-repeat 0px 0.2em
}
.clear {
	CLEAR: both
}
.clearleft {
	CLEAR: left
}
.colMS {
	MARGIN-RIGHT: 20em !important
}
.colSM {
	MARGIN-LEFT: 20em !important
}
.colSM #content-related {
	FLOAT: left; MARGIN-LEFT: -19em; MARGIN-RIGHT: 0px
}
.container {
	BORDER-BOTTOM: #ccc 1px solid; POSITION: relative; MIN-WIDTH: 260px; BORDER-LEFT: #ccc 1px solid; PADDING-BOTTOM: 0px; MARGIN-TOP: 100px; MIN-HEIGHT: 150px; PADDING-LEFT: 0px; WIDTH: 100%; PADDING-RIGHT: 0px; BACKGROUND: url(../img/form-bg.gif) #f8fdef repeat-x left bottom; MARGIN-LEFT: auto; BORDER-TOP: #ccc 1px solid; MARGIN-RIGHT: auto; BORDER-RIGHT: #ccc 1px solid; PADDING-TOP: 0px
}
.content {
	MARGIN: 20px 15px
}
#content {
	MARGIN: 20px 15px
}
.content-main {
	WIDTH: 100%; FLOAT: left
}
#content-main {
	WIDTH: 100%; FLOAT: left
}
.content-related .module H2 {
	BACKGROUND: url(../img/nav-bg.gif) #eee repeat-x left bottom; COLOR: #666
}
.content-related H3 {
	MARGIN-BOTTOM: 3px; COLOR: #666; FONT-SIZE: 12px
}
#content-related H3 {
	MARGIN-BOTTOM: 3px; COLOR: #666; FONT-SIZE: 12px
}
.content-related {
	POSITION: relative; WIDTH: 18em; FLOAT: right; MARGIN-RIGHT: -19em
}
#content-related {
	POSITION: relative; WIDTH: 18em; FLOAT: right; MARGIN-RIGHT: -19em
}
.dashboard #content {
	WIDTH: 500px
}
.deletelink {
	PADDING-LEFT: 12px; BACKGROUND: url(../img/icon_deletelink.gif) no-repeat 0px 0.25em
}
.description {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 12px; PADDING-RIGHT: 0px; FONT-SIZE: 12px; PADDING-TOP: 5px
}
.error {
	BACKGROUND: #ffc
}
.error INPUT {
	BORDER-BOTTOM: red 1px solid; BORDER-LEFT: red 1px solid; BORDER-TOP: red 1px solid; BORDER-RIGHT: red 1px solid
}
.error SELECT {
	BORDER-BOTTOM: red 1px solid; BORDER-LEFT: red 1px solid; BORDER-TOP: red 1px solid; BORDER-RIGHT: red 1px solid
}
.errorlist LI {
	BORDER-BOTTOM: red 1px solid; BORDER-LEFT: red 1px solid; PADDING-BOTTOM: 4px; MARGIN: 0px 0px 3px; PADDING-LEFT: 25px; PADDING-RIGHT: 5px; DISPLAY: block; BACKGROUND: url(../img/icon_alert.gif) red no-repeat 5px 0.3em; COLOR: #fff; FONT-SIZE: 12px !important; BORDER-TOP: red 1px solid; BORDER-RIGHT: red 1px solid; PADDING-TOP: 4px
}
.errornote {
	BORDER-BOTTOM: red 1px solid; BORDER-LEFT: red 1px solid; PADDING-BOTTOM: 4px; MARGIN: 0px 0px 3px; PADDING-LEFT: 25px; PADDING-RIGHT: 5px; DISPLAY: block; BACKGROUND: url(../img/icon_error.gif) #ffc no-repeat 5px 0.3em; COLOR: red; FONT-SIZE: 12px !important; BORDER-TOP: red 1px solid; BORDER-RIGHT: red 1px solid; PADDING-TOP: 4px
}
.example {
	PADDING-BOTTOM: 5px; MARGIN: 10px 0px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; BACKGROUND: #efefef; PADDING-TOP: 5px
}
.float-left {
	FLOAT: left
}
.float-right {
	FLOAT: right
}
.colSM #content-main {
	FLOAT: right
}
.floatright {
	FLOAT: right
}
.footer {
	PADDING-BOTTOM: 10px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; CLEAR: both; PADDING-TOP: 10px
}
#footer {
	PADDING-BOTTOM: 10px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; CLEAR: both; PADDING-TOP: 10px
}
.form-row .object-tools {
	MARGIN-TOP: 5px; PADDING-LEFT: 3.5em; MARGIN-BOTTOM: 5px; FLOAT: none; HEIGHT: 2em
}
.header {
	TEXT-ALIGN: left; WIDTH: 100%; BACKGROUND: #417690; COLOR: #ffc; OVERFLOW: hidden
}
.header A:hover {
	TEXT-DECORATION: none
}
#header A:hover {
	TEXT-DECORATION: none
}
#op_menu A:visited {
	COLOR: #ffffff
}
.header A:link {
	COLOR: #ffffff; TEXT-DECORATION: none
}
#header A:visited {
	COLOR: #ffffff; TEXT-DECORATION: none
}
A.ha:hover {
	COLOR: #ffffff; TEXT-DECORATION: none
}
#header A:link {
	COLOR: #ffffff; TEXT-DECORATION: none
}
#header A:visited {
	COLOR: #ffffff; TEXT-DECORATION: none
}
.help {
	COLOR: #999; FONT-SIZE: 11px !important
}
P.help {
	COLOR: #999; FONT-SIZE: 11px !important
}
.mini {
	FONT-SIZE: 10px
}
.module {
	MARGIN-BOTTOM: 5px; BACKGROUND: #fff; _border: 1px solid #ccc
}
.module BLOCKQUOTE {
	MARGIN-LEFT: 12px
}
.module H2 {
	TEXT-ALIGN: left; PADDING-BOTTOM: 3px; MARGIN: 0px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; BACKGROUND: url(../img/default-bg.gif) #7ca0c7 repeat-x left top; COLOR: #fff; FONT-SIZE: 12px; FONT-WEIGHT: 700; PADDING-TOP: 2px
}
.module CAPTION {
	TEXT-ALIGN: left; PADDING-BOTTOM: 3px; MARGIN: 0px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; BACKGROUND: url(../img/default-bg.gif) #7ca0c7 repeat-x left top; COLOR: #fff; FONT-SIZE: 12px; FONT-WEIGHT: 700; PADDING-TOP: 2px
}
.module H3 {
	MARGIN-TOP: 0.6em
}
.module P {
	PADDING-LEFT: 10px; PADDING-RIGHT: 10px
}
.module UL {
	PADDING-LEFT: 10px; PADDING-RIGHT: 10px
}
.module H3 {
	PADDING-LEFT: 10px; PADDING-RIGHT: 10px
}
.module H4 {
	PADDING-LEFT: 10px; PADDING-RIGHT: 10px
}
.module DL {
	PADDING-LEFT: 10px; PADDING-RIGHT: 10px
}
.module PRE {
	PADDING-LEFT: 10px; PADDING-RIGHT: 10px
}
.module TABLE {
	BORDER-COLLAPSE: collapse
}
.module UL {
	MARGIN-LEFT: 1.5em
}
.module OL {
	MARGIN-LEFT: 1.5em
}
.nav_menu {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; PADDING-LEFT: 0px; WIDTH: 100px; PADDING-RIGHT: 0px; FONT-SIZE: 12pt; LIST-STYLE-IMAGE: none; PADDING-TOP: 0px
}
.nav_menu LI {
	LIST-STYLE-TYPE: none; MARGIN: 1px; LIST-STYLE-IMAGE: none
}
.nowrap {
	WHITE-SPACE: nowrap
}
.object-tools {
	POSITION: relative; MARGIN-TOP: -2.4em; PADDING-LEFT: 0px; FONT-FAMILY: Arial, Helvetica, sans-serif; MARGIN-BOTTOM: -2em; FLOAT: right; FONT-SIZE: 12px; FONT-WEIGHT: 700
}
.object-tools A.addlink {
	PADDING-RIGHT: 28px; BACKGROUND: url(../img/tooltag-add.gif) #999 no-repeat right top
}
.object-tools A.addlink:hover {
	BACKGROUND: url(../img/tooltag-add_over.gif) #5b80b2 no-repeat right top
}
.object-tools A.viewsitelink {
	PADDING-RIGHT: 28px; BACKGROUND: url(../img/tooltag-arrowright.gif) #999 no-repeat right top
}
.object-tools A.golink {
	PADDING-RIGHT: 28px; BACKGROUND: url(../img/tooltag-arrowright.gif) #999 no-repeat right top
}
.object-tools A.viewsitelink:hover {
	BACKGROUND: url(../img/tooltag-arrowright_over.gif) #5b80b2 no-repeat right top
}
.object-tools A.golink:hover {
	BACKGROUND: url(../img/tooltag-arrowright_over.gif) #5b80b2 no-repeat right top
}
.object-tools A:hover {
	BACKGROUND: url(../img/tool-right_over.gif) #5b80b2 no-repeat 100% 0px
}
.object-tools LI:hover A {
	BACKGROUND: url(../img/tool-right_over.gif) #5b80b2 no-repeat 100% 0px
}
.object-tools A:link {
	PADDING-BOTTOM: 0.1em; PADDING-LEFT: 8px; PADDING-RIGHT: 24px; DISPLAY: block; BACKGROUND: url(../img/tool-right.gif) #999 no-repeat 100% 0px; FLOAT: left; HEIGHT: 14px; COLOR: #fff; PADDING-TOP: 0.1em
}
.object-tools A:visited {
	PADDING-BOTTOM: 0.1em; PADDING-LEFT: 8px; PADDING-RIGHT: 24px; DISPLAY: block; BACKGROUND: url(../img/tool-right.gif) #999 no-repeat 100% 0px; FLOAT: left; HEIGHT: 14px; COLOR: #fff; PADDING-TOP: 0.1em
}
.object-tools LI {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 8px; PADDING-RIGHT: 0px; DISPLAY: block; BACKGROUND: url(../img/tool-left.gif) no-repeat 0px 0px; FLOAT: left; HEIGHT: 16px; MARGIN-LEFT: 2px; PADDING-TOP: 0px
}
.object-tools LI:hover {
	BACKGROUND: url(../img/tool-left_over.gif) no-repeat 0px 0px
}
.popup .colM {
	WIDTH: 95%
}
.quiet STRONG {
	FONT-WEIGHT: 700 !important
}
.quiet {
	COLOR: #999 !important; FONT-WEIGHT: 400 !important
}
A.quiet:link {
	COLOR: #999 !important; FONT-WEIGHT: 400 !important
}
A.quiet:visited {
	COLOR: #999 !important; FONT-WEIGHT: 400 !important
}
.row1 {
	BACKGROUND: #edf3fe
}
.row2 {
	BACKGROUND: #fff
}
.small {
	FONT-SIZE: 12px
}
.content-related H4 {
	FONT-SIZE: 12px
}
#content-related H4 {
	FONT-SIZE: 12px
}
.subcol {
	WIDTH: 46%; FLOAT: left; MARGIN-RIGHT: 15px
}
.tiny {
	FONT-SIZE: 12px
}
.user-tools {
	POSITION: absolute; TEXT-ALIGN: right; PADDING-BOTTOM: 1.2em; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; FONT-SIZE: 12px; TOP: 0px; RIGHT: 200px; PADDING-TOP: 1.2em
}
#user-tools {
	POSITION: absolute; TEXT-ALIGN: right; PADDING-BOTTOM: 1.2em; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; FONT-SIZE: 12px; TOP: 0px; RIGHT: 200px; PADDING-TOP: 1.2em
}
A IMG {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; BORDER-TOP: medium none; BORDER-RIGHT: medium none
}
A.deletelink:hover {
	COLOR: #933
}
A.deletelink:link {
	COLOR: #cc3434
}
A.deletelink:visited {
	COLOR: #cc3434
}
A.ha:link {
	COLOR: #abc0ff
}
A.ha:visited {
	COLOR: #abc0ff
}
A:hover {
	COLOR: #036
}
A:link {
	COLOR: #5b80b2; TEXT-DECORATION: none
}
A:visited {
	COLOR: #5b80b2; TEXT-DECORATION: none
}
BLOCKQUOTE {
	BORDER-LEFT: #ddd 5px solid; PADDING-LEFT: 10px; COLOR: #777; MARGIN-LEFT: 2px; FONT-SIZE: 12px
}
BODY {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif; BACKGROUND: #fff; COLOR: #333; FONT-SIZE: 12px; PADDING-TOP: 0px
}
CODE STRONG {
	COLOR: #930
}
CODE {
	FONT-FAMILY: "Bitstream Vera Sans Mono", Monaco, "Courier New", Courier, monospace; BACKGROUND: inherit; COLOR: #40e; FONT-SIZE: 12px
}
PRE {
	FONT-FAMILY: "Bitstream Vera Sans Mono", Monaco, "Courier New", Courier, monospace; BACKGROUND: inherit; COLOR: #40e; FONT-SIZE: 12px
}
DD {
	MARGIN-LEFT: 0px
}
DIV.breadcrumbs {
	BORDER-BOTTOM: #ccc 1px solid; TEXT-ALIGN: left; PADDING-BOTTOM: 3px; PADDING-LEFT: 8px; PADDING-RIGHT: 8px; BACKGROUND: url(../img/nav-bg-reverse.gif) #fff repeat-x 0px -10px; COLOR: #999; FONT-SIZE: 12px; BORDER-TOP: #fff 1px solid; PADDING-TOP: 2px
}
DIV.system-message {
	PADDING-BOTTOM: 6px; MARGIN: 10px; PADDING-LEFT: 8px; PADDING-RIGHT: 8px; BACKGROUND: #ffc; FONT-SIZE: 0.8em; PADDING-TOP: 6px
}
DIV.system-message P.system-message-title {
	PADDING-BOTTOM: 4px; MARGIN: 0px; PADDING-LEFT: 25px; PADDING-RIGHT: 5px; BACKGROUND: url(../img/icon_error.gif) #ffc no-repeat 5px 0.3em; COLOR: red; PADDING-TOP: 4px
}
DT {
	MARGIN-TOP: 4px; FONT-WEIGHT: 700
}
FIELDSET TABLE {
	BORDER-RIGHT: #eee 1px solid
}
FORM {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
FIELDSET {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H1 {
	PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0.2em; PADDING-LEFT: 0px; PADDING-RIGHT: 6px; COLOR: #666; FONT-SIZE: 18px; PADDING-TOP: 0px
}
H1 {
	FONT-WEIGHT: 700
}
H2 {
	FONT-WEIGHT: 700
}
H3 {
	FONT-WEIGHT: 700
}
H4 {
	FONT-WEIGHT: 700
}
H5 {
	FONT-WEIGHT: 700
}
H2 {
	MARGIN: 1em 0px 0.5em; FONT-SIZE: 16px
}
H2.subhead {
	MARGIN-TOP: 0px; FONT-WEIGHT: 400
}
H3 {
	MARGIN: 0.8em 0px 0.3em; COLOR: #666; FONT-SIZE: 14px; FONT-WEIGHT: 700
}
H4 {
	PADDING-BOTTOM: 3px; MARGIN: 1em 0px 0.8em; FONT-SIZE: 12px
}
H5 {
	TEXT-TRANSFORM: uppercase; MARGIN: 1.5em 0px 0.5em; LETTER-SPACING: 1px; COLOR: #666; FONT-SIZE: 12px
}
HR {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; PADDING-BOTTOM: 0px; LINE-HEIGHT: 1px; BACKGROUND-COLOR: #eee; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; HEIGHT: 1px; COLOR: #eee; CLEAR: both; FONT-SIZE: 1px; BORDER-TOP: medium none; BORDER-RIGHT: medium none; PADDING-TOP: 0px
}
TEXTAREA {
	PADDING-BOTTOM: 2px; MARGIN: 2px 0px; PADDING-LEFT: 3px; PADDING-RIGHT: 3px; FONT-FAMILY: "Lucida Grande", Verdana, Arial, sans-serif; FONT-SIZE: 12px; VERTICAL-ALIGN: middle; FONT-WEIGHT: 400; PADDING-TOP: 2px; _border: 1px solid #A1BCA3; _padding: 1px
}
SELECT {
	PADDING-BOTTOM: 2px; MARGIN: 2px 0px; PADDING-LEFT: 3px; PADDING-RIGHT: 3px; FONT-FAMILY: "Lucida Grande", Verdana, Arial, sans-serif; FONT-SIZE: 12px; VERTICAL-ALIGN: middle; FONT-WEIGHT: 400; PADDING-TOP: 2px; _border: 1px solid #A1BCA3; _padding: 1px
}
INPUT[type=submit] {
	BORDER-BOTTOM: #aaa 1px solid; BORDER-LEFT: #ddd 1px solid; PADDING-BOTTOM: 3px; PADDING-LEFT: 3px; PADDING-RIGHT: 3px; BACKGROUND: url(../img/nav-bg.gif) #fff repeat-x 50% bottom; COLOR: #000; BORDER-TOP: #ddd 1px solid; BORDER-RIGHT: #aaa 1px solid; PADDING-TOP: 3px
}
INPUT[type=button] {
	BORDER-BOTTOM: #aaa 1px solid; BORDER-LEFT: #ddd 1px solid; PADDING-BOTTOM: 3px; PADDING-LEFT: 3px; PADDING-RIGHT: 3px; BACKGROUND: url(../img/nav-bg.gif) #fff repeat-x 50% bottom; COLOR: #000; BORDER-TOP: #ddd 1px solid; BORDER-RIGHT: #aaa 1px solid; PADDING-TOP: 3px
}
.submit-row INPUT {
	BORDER-BOTTOM: #aaa 1px solid; BORDER-LEFT: #ddd 1px solid; PADDING-BOTTOM: 3px; PADDING-LEFT: 3px; PADDING-RIGHT: 3px; BACKGROUND: url(../img/nav-bg.gif) #fff repeat-x 50% bottom; COLOR: #000; BORDER-TOP: #ddd 1px solid; BORDER-RIGHT: #aaa 1px solid; PADDING-TOP: 3px
}
INPUT[type=submit].default {
	BORDER-BOTTOM: #5b80b2 2px solid; BORDER-LEFT: #5b80b2 2px solid; BACKGROUND: url(../img/default-bg.gif) #7ca0c7 repeat-x 50% bottom; COLOR: #fff; BORDER-TOP: #5b80b2 2px solid; FONT-WEIGHT: 700; BORDER-RIGHT: #5b80b2 2px solid
}
.submit-row INPUT.default {
	BORDER-BOTTOM: #5b80b2 2px solid; BORDER-LEFT: #5b80b2 2px solid; BACKGROUND: url(../img/default-bg.gif) #7ca0c7 repeat-x 50% bottom; COLOR: #fff; BORDER-TOP: #5b80b2 2px solid; FONT-WEIGHT: 700; BORDER-RIGHT: #5b80b2 2px solid
}
INPUT[type=submit].default:active {
	BACKGROUND-IMAGE: url(../img/default-bg-reverse.gif); BACKGROUND-POSITION: 50% top
}
INPUT[type=submit]:active {
	BACKGROUND-IMAGE: url(../img/nav-bg-reverse.gif); BACKGROUND-POSITION: 50% top
}
INPUT[type=button]:active {
	BACKGROUND-IMAGE: url(../img/nav-bg-reverse.gif); BACKGROUND-POSITION: 50% top
}
INPUT[type=text] {
	BORDER-BOTTOM: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; WIDTH: 200px !important; BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid
}
INPUT[type=password] {
	BORDER-BOTTOM: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; WIDTH: 200px !important; BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid
}
TEXTAREA {
	BORDER-BOTTOM: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; WIDTH: 200px !important; BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid
}
SELECT {
	BORDER-BOTTOM: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; WIDTH: 200px !important; BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid
}
.vTextField {
	BORDER-BOTTOM: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; WIDTH: 200px !important; BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid
}
DIV.dialog DIV.dcontent INPUT[type=text] {
	WIDTH: 270px !important
}
DIV.dialog DIV.dcontent INPUT[type=password] {
	WIDTH: 270px !important
}
DIV.dialog DIV.dcontent TEXTAREA {
	WIDTH: 270px !important
}
DIV.dialog DIV.dcontent SELECT {
	WIDTH: 270px !important
}
LI UL {
	MARGIN-BOTTOM: 0px
}
LI {
	LINE-HEIGHT: 14px; FONT-SIZE: 12px
}
DT {
	LINE-HEIGHT: 14px; FONT-SIZE: 12px
}
DD {
	LINE-HEIGHT: 14px; FONT-SIZE: 12px
}
P {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 140%; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
P IMG {
	VERTICAL-ALIGN: middle
}
H1 IMG {
	VERTICAL-ALIGN: middle
}
H2 IMG {
	VERTICAL-ALIGN: middle
}
H3 IMG {
	VERTICAL-ALIGN: middle
}
H4 IMG {
	VERTICAL-ALIGN: middle
}
TD IMG {
	VERTICAL-ALIGN: middle
}
P {
	MARGIN: 0.2em 0px 0.8em
}
OL {
	MARGIN: 0.2em 0px 0.8em
}
UL {
	MARGIN: 0.2em 0px 0.8em
}
DL {
	MARGIN: 0.2em 0px 0.8em
}
P.mini {
	MARGIN-TOP: -3px
}
P.tiny {
	MARGIN-TOP: -2px
}
PRE.literal-block {
	PADDING-BOTTOM: 6px; MARGIN: 10px; PADDING-LEFT: 8px; PADDING-RIGHT: 8px; BACKGROUND: #eee; PADDING-TOP: 6px
}
TABLE {
	BORDER-BOTTOM-COLOR: #ccc; BORDER-TOP-COLOR: #ccc; BORDER-COLLAPSE: collapse; BORDER-RIGHT-COLOR: #ccc; BORDER-LEFT-COLOR: #ccc
}
TABLE THEAD TH.ascending A {
	BACKGROUND: url(../img/arrow-down.gif) no-repeat right 0.4em
}
TABLE THEAD TH.descending A {
	BACKGROUND: url(../img/arrow-up.gif) no-repeat right 0.4em
}
TABLE THEAD TH.sorted A {
	PADDING-RIGHT: 13px
}
TABLE#change-history {
	WIDTH: 100%
}
TABLE#change-history TBODY TH {
	WIDTH: 16em
}
TABLE.orderable TBODY TR TD:first-child {
	BACKGROUND-IMAGE: url(../img/nav-bg-grabber.gif); PADDING-LEFT: 14px; BACKGROUND-REPEAT: repeat-y
}
TABLE.orderable TBODY TR TD:hover {
	CURSOR: move
}
TABLE.orderable-initalized .order-cell {
	DISPLAY: none
}
BODY > TR > TD.order-cell {
	DISPLAY: none
}
TD UL.errorlist LI {
	MARGIN: 0px
}
TD {
	BORDER-BOTTOM: #eee 1px solid; PADDING-BOTTOM: 0px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; FONT-FAMILY: "Lucida Grande", Verdana, Arial, sans-serif; FONT-SIZE: 12px; PADDING-TOP: 0px
}
TH {
	BORDER-BOTTOM: #eee 1px solid; PADDING-BOTTOM: 0px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; FONT-FAMILY: "Lucida Grande", Verdana, Arial, sans-serif; FONT-SIZE: 12px; PADDING-TOP: 0px
}
TEXTAREA {
	VERTICAL-ALIGN: top !important
}
TFOOT TD {
	BORDER-BOTTOM: medium none; BORDER-TOP: #ddd 1px solid
}
TH {
	TEXT-ALIGN: left; FONT-SIZE: 12px; FONT-WEIGHT: 700
}
THEAD TH A:link {
	DISPLAY: block; COLOR: #666
}
THEAD TH A:visited {
	DISPLAY: block; COLOR: #666
}
THEAD TH {
	BORDER-BOTTOM: #888 1px solid; BORDER-LEFT: #ddd 1px solid; BACKGROUND: url(../img/nav-bg.gif) #e1e1e1 repeat-x left top; HEIGHT: 14px; COLOR: #666; FONT-SIZE: 12px
}
TFOOT TD {
	BORDER-BOTTOM: #888 1px solid; BORDER-LEFT: #ddd 1px solid; BACKGROUND: url(../img/nav-bg.gif) #e1e1e1 repeat-x left top; HEIGHT: 14px; COLOR: #666; FONT-SIZE: 12px
}
THEAD TH.optional {
	FONT-WEIGHT: 400 !important
}
THEAD TH:first-child {
	BORDER-LEFT: medium none
}
TFOOT TD:first-child {
	BORDER-LEFT: medium none
}
TR.alt {
	BACKGROUND: #f6f6f6
}
TR.row-label TD {
	BORDER-BOTTOM: medium none; PADDING-BOTTOM: 0px; MARGIN-TOP: -1px; COLOR: #666; FONT-SIZE: 12px; PADDING-TOP: 2px
}
UL LI {
	PADDING-BOTTOM: 1px; LIST-STYLE-TYPE: none; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 1px
}
UL.errorlist {
	padding: 0px;
    MARGIN: 0px;
}
TD UL.errorlist {
	padding: 0px;
    MARGIN: 0px;
}
UL.messagelist {
	PADDING-BOTTOM: 5px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
UL.messagelist LI {
	BORDER-BOTTOM: #ddd 1px solid; PADDING-BOTTOM: 4px; MARGIN: 0px 0px 3px; PADDING-LEFT: 25px; PADDING-RIGHT: 5px; DISPLAY: block; BACKGROUND: url(../img/icon_success.gif) #ffc no-repeat 5px 0.3em; COLOR: #666; FONT-SIZE: 12px; PADDING-TOP: 4px
}
UL.plainlist {
	MARGIN-LEFT: 0px !important
}
UL.plainlist LI {
	LIST-STYLE-TYPE: none
}
DIV.dialog {
	POSITION: relative; MIN-WIDTH: 250px; TEXT-ALIGN: left; MARGIN: 0px; WIDTH: 420px; FONT: 14pt bold; BACKGROUND: url(/media/img/form-bg.gif) repeat-x left bottom; COLOR: #fff
}
DIV.dialog .dcontent {
	MARGIN: 0px; COLOR: #000; FONT-SIZE: 15px
}
DIV.dialog .dheader {
	PADDING-BOTTOM: 4px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; BACKGROUND: url(../img/headerbg6.png) #417690 center bottom; PADDING-TOP: 4px
}
DIV.dialog .dtitle {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 10px; BACKGROUND-COLOR: transparent; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; FONT-SIZE: 12pt; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 10px
}
DIV.dialog .dcontent TD.label {
	TEXT-ALIGN: right; PADDING-LEFT: 14px
}
.selectedDataOp DIV DIV {
	FLOAT: left
}
.selectedDataOp DIV LI LI DIV {
	PADDING-BOTTOM: 1px; MARGIN: 2px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; DISPLAY: block; COLOR: #afaf7c; PADDING-TOP: 1px
}
UL.nav#nav LI UL LI {
	COLOR: #afaf7c
}
.selectedDataOp DIV DIV:hover A {
	COLOR: white !important
}
#id_select_div A {
	COLOR: #5b80b2 !important
}
#id_select_div {
	PADDING-LEFT: 15px; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-TOP: 4px
}
#id_select_div {
	_background: white; _border: 1px solid white
}
B.r1 {
	BORDER-RIGHT-WIDTH: 2px; MARGIN: 0px 3px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 2px
}
B.r2 {
	MARGIN: 0px 2px
}
B.r3 {
	MARGIN: 0px 1px
}
B.r4 {
	HEIGHT: 2px
}
B.rb1 {
	BORDER-RIGHT-WIDTH: 2px; MARGIN: 0px 8px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 2px
}
B.rb2 {
	BORDER-RIGHT-WIDTH: 2px; MARGIN: 0px 6px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 2px
}
B.rb3 {
	MARGIN: 0px 5px
}
B.rb4 {
	MARGIN: 0px 4px
}
B.rb5 {
	MARGIN: 0px 3px
}
B.rb6 {
	MARGIN: 0px 2px
}
B.rb7 {
	MARGIN: 0px 1px; HEIGHT: 2px
}
B.rb8 {
	MARGIN: 0px; HEIGHT: 2px
}
B.rs1 {
	MARGIN: 0px 1px
}
B.t1 {
	BORDER-RIGHT-WIDTH: 5px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 5px
}
B.t2 {
	BORDER-RIGHT-WIDTH: 3px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 3px
}
B.t3 {
	BORDER-RIGHT-WIDTH: 2px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 2px
}
B.t4 {
	HEIGHT: 2px
}
B.tb1 {
	BORDER-RIGHT-WIDTH: 10px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 10px
}
B.tb2 {
	BORDER-RIGHT-WIDTH: 8px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 8px
}
B.tb3 {
	BORDER-RIGHT-WIDTH: 6px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 6px
}
B.tb4 {
	BORDER-RIGHT-WIDTH: 5px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 5px
}
B.tb5 {
	BORDER-RIGHT-WIDTH: 4px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 4px
}
B.tb6 {
	BORDER-RIGHT-WIDTH: 3px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 3px
}
B.tb7 {
	BORDER-RIGHT-WIDTH: 2px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; HEIGHT: 2px; BORDER-LEFT-WIDTH: 2px
}
B.tb8 {
	BORDER-RIGHT-WIDTH: 1px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; HEIGHT: 2px; BORDER-LEFT-WIDTH: 1px
}
B.ts1 {
	BORDER-RIGHT-WIDTH: 2px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 2px
}
.selectRow {
	BACKGROUND: green
}
INPUT[disabled] {
	COLOR: #afaf7c !important
}
#id_opt_tree {
	BORDER-BOTTOM: #888 1px solid; PADDING-BOTTOM: 2px; BACKGROUND-COLOR: #cfdfff; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; MARGIN-BOTTOM: 2px; HEIGHT: 20px; PADDING-TOP: 2px
}
#id_opt_tree SPAN {
	PADDING-LEFT: 5px; PADDING-RIGHT: 20px; FONT-SIZE: 14px; FONT-WEIGHT: 400 !important
}
.title_bar {
	BORDER-BOTTOM: #888 1px solid; BACKGROUND-COLOR: #cfdfff; PADDING-LEFT: 5px; PADDING-RIGHT: 20px; DISPLAY: block; HEIGHT: 22px; FONT-SIZE: 14px; FONT-WEIGHT: 400 !important; PADDING-TOP: 2px
}
TD.border_td {
	BORDER-BOTTOM: #888 1px solid; BORDER-LEFT: #888 1px solid; PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; VERTICAL-ALIGN: top; BORDER-TOP: #888 1px solid; BORDER-RIGHT: #888 1px solid; PADDING-TOP: 0px
}
