.nav
{
    background-position: center top;
    z-index: 999;
    padding-bottom: 0px;
    line-height: 1;
    list-style-type: none;
    margin: 0px;
    padding-left: 0px;
    width: 100%;
    padding-right: 0px;
    background: center top;
    vertical-align: middle;
    list-style-image: none;
    padding-top: 0px;
    background-color: #3a4f63;
}
.nav UL
{
    background-position: center top;
    z-index: 999;
    padding-bottom: 0px;
    line-height: 1;
    list-style-type: none;
    margin: 0px;
    padding-left: 0px;
    width: 100%;
    padding-right: 0px;
    background: #3a4f63 url(../img/headerbg.png) center top;
    vertical-align: middle;
    list-style-image: none;
    padding-top: 0px;
    _background: rgb(0, 102, 136) url(../img/headerbg6.png) repeat scroll center top;
}
.nav A {
	BORDER-BOTTOM: transparent 1px solid; BORDER-LEFT: transparent 1px solid; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; DISPLAY: block; COLOR: #fff; BORDER-TOP: transparent 1px solid; BORDER-RIGHT: transparent 1px solid; TEXT-DECORATION: none; PADDING-TOP: 0px; _border: 1px solid #0066A6
}
.nav LI A:hover {
	BORDER-BOTTOM: #6699cc 1px solid; BORDER-LEFT: #6699cc 1px solid; BACKGROUND: url(../img/headerbg.png) rgb(0,102,166) center center; BORDER-TOP: #6699cc 1px solid; BORDER-RIGHT: #6699cc 1px solid; TEXT-DECORATION: none; _background: url(../img/headerbg6.png) repeat scroll center center; _color: #fff
}
.nav LI {
	LINE-HEIGHT: 19px; LIST-STYLE-TYPE: none; WIDTH: auto; BACKGROUND: url(../img/headerbg.png) rgb(0,102,136) center top; FLOAT: left; FONT-SIZE: 10pt; VERTICAL-ALIGN: middle; LIST-STYLE-IMAGE: none; _background: rgb(0, 102, 136) url(../img/headerbg6.png) repeat scroll center top
}
.nav LI UL A {
	PADDING-BOTTOM: 2px; MARGIN: 0px; PADDING-LEFT: 8px; PADDING-RIGHT: 8px; PADDING-TOP: 2px
}
.nav LI UL LI {
	WIDTH: 100%; BACKGROUND: rgb(0,102,166); VERTICAL-ALIGN: middle
}
.nav LI UL {
	POSITION: absolute; PADDING-BOTTOM: 1px; PADDING-LEFT: 1px; WIDTH: 19em; PADDING-RIGHT: 1px; BACKGROUND: #5b80b2; VERTICAL-ALIGN: middle; PADDING-TOP: 1px; LEFT: -999em
}
.nav LI:hover UL {
	DISPLAY: block; LEFT: auto
}
.nav LI.sfhover UL {
	DISPLAY: block; LEFT: auto
}
.nav LI.sfHover UL {
	LEFT: auto
}
#content_nav {
	COLOR: #ccc; CLEAR: left
}
.sfFocus {
	BACKGROUND: blue; COLOR: #fff
}
.sfActive {
	BACKGROUND: lime; COLOR: #fff
}
.sfTarget {
	BACKGROUND: black; COLOR: #fff
}
